.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1319px;
  background-color: #ffffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content section */

.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

/* about me section */
.about-me-section {
  margin-bottom: 40px;
}

.about-me-proffesion {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.about-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
/* my projects section */
.my-projects-section {
  margin-bottom: 50px;
}

.my-projects-list {
  padding: 0 0 0 18px;
}

.my-projects-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fb6d3a;
  }
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/* work expirience */
.company-name {
  color: #fb6d3a;
}
.my-work-expirience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.time-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.vertical-stick {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}
.my-work-duties {
  padding: 0 0 0 18px;
}

.my-work-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-expirience-company {
  margin: 0 15px 0 0;
}
/* education section */

.education-section {
  margin: 40px 0 0 0;
}

.education-university {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0 10px 0;
}
.education-faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 10px 0 10px 0;
}

/* sidebar section */

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-section,
.languages-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  width: 121px;
  height: 27px;
  left: 279px;
  top: 629px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* contacts section */
.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
}

.contacts-section-link {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: #fb6d3a;
  }
}
.contacts-section-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.contacts__icon {
  width: 15px;
  height: 15px;
  fill: #fff;
  transition: fill $transition-duration $timing-function;

  .contacts-section-link:hover &,
  .contacts-section-link:focus & {
    fill: #fb6d3a;
  }
}

.sidebar-list {
  padding: 0 0 0 17px;
}

.sidebar-list-item {
  color: #fb6d3a;
}

.sidebar-list-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
