.social {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 50px;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fb6d3a;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #fff;
    }
  }

  &__icon {
    fill: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: #fb6d3a;
    }
  }
}
